.site-hero__list {
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  margin-left: -75px;
  margin-bottom: -45px;
}

.site-hero__item {
  width: calc(100%/4 - 75px);
  margin-left: 75px;
  margin-bottom: 47px;
}

@include breakpoint-down(1105px) {

  .site-hero__list {
    margin-left: -50px;
    margin-bottom: -45px;
  }
  
  .site-hero__item {
    width: calc(100%/4 - 50px);
    margin-left: 50px;
    margin-bottom: 47px;
  }

}

@include breakpoint-down(1000px) {

  .site-hero__list {
    margin-left: -40px;
    margin-bottom: -45px;
  }
  
  .site-hero__item {
    width: calc(100%/4 - 40px);
    margin-left: 40px;
    margin-bottom: 47px;
  }

}

@include breakpoint-down(970px) {

  .site-hero__list {
    margin-left: -70px;
    margin-bottom: -45px;
  }
  
  .site-hero__item {
    width: calc(100%/3 - 70px);
    margin-left: 70px;
    margin-bottom: 47px;
  }

}

@include breakpoint-down(830px) {

  .site-hero__list {
    margin-left: -45px;
    margin-bottom: -45px;
  }
  
  .site-hero__item {
    width: calc(100%/3 - 45px);
    margin-left: 45px;
    margin-bottom: 47px;
  }

}

@include breakpoint-down(755px) {

  .site-hero__list {
    margin-left: -12px;
    margin-bottom: -12px;
  }
  
  .site-hero__item {
    width: calc(100%/3 - 12px);
    margin-left: 12px;
    margin-bottom: 47px;
  }

}

@include breakpoint-down(675px) {

  .site-hero__list {
    margin-left: -20px;
    margin-bottom: -20px;
  }
  
  .site-hero__item {
    width: calc(100%/2 - 20px);
    margin-left: 20px;
    margin-bottom: 47px;
  }

}

@include breakpoint-down(490px) {

  .site-hero__list {
    margin-left: 0;
    margin-bottom: -20px;
  }
  
  .site-hero__item {
    width: calc(100%);
    margin-left: 0;
    margin-bottom: 47px;
  }

}
